
@{
    ViewBag.Title = "AboutUs";
}

<nav>

    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "ActionLink")</li>
        <li>@Html.ActionLink("AboutUs Page", "AboutUs", "ActionLink")</li>
        <li>@Html.ActionLink("ContactUs Page", "ContactUs", "ActionLink")</li>
    </ul>

</nav>

<h2>AboutUs</h2>

<h3>This is aboutus page</h3>
