
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

@Html.Partial("_PartialViewList")

<br />
<br />

@{
    Html.RenderPartial("_PartialViewList");
}



@{
    Html.RenderPartial("_PartialViewList");
}




@Html.Partial("_LoginPartialView")
<br />
<br />

@{
    Html.RenderPartial("_LoginPartialView");
}
