
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h3>ViewData data is = @ViewData["Var1"]</h3>
<h3>ViewBag data is = @ViewBag.Var2</h3>
<h3>TempData data is = @TempData["Var3"]</h3>

<ul>
    @{
        foreach (string i in (string[])TempData["GameArray"])
        {
           <li>@i</li>
        }
    }
</ul>

