
@{
    ViewBag.Title = "ErrorPage";
}

<h2>ErrorPage</h2>
<h1 class="well text-danger">ERROR OCCUR WHILE PROCESSING REQUEST</h1>

@*'well' is a bootstrap class shows a div in a gray color background*@

